<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>コラム一覧画面</title>
</head>
<body>
  <h1>コラム一覧画面</h1>
  <h2><%= loginUser %>がログイン中</h2>
  <p>モック画面です。</p>
  <form action = "/logout" medhod = "post">
    <p><input type = "submit" value = "ログアウト"></p>
  </form>
</body>
</html>