<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%- include("shareParts/loadbootstrap.ejs") %>
  <link rel="stylesheet" href="./css/column_list.css">
  <title>コラム一覧画面</title>
  
</head>
<body>
  <%- include("shareParts/header.ejs") %>
  <h2 class = "title">コラム一覧</h2>
  <%- include("shareParts/loadScript.ejs") %>
</body>
</html>