<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <%- include("shareParts/loadbootstrap.ejs") %>
  <link rel="stylesheet" href="./css/style.css">
  <title>コラム登録画面</title>
</head>

<body>
  <%- include("shareParts/header.ejs") %>
  <h2 class="title">コラム登録</h2>

  <div class="form_area mt-5">
    <form action="/column_regist" method="post" id = "column_form">
      <!-- 登録日時-->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="register_date">登録日時</label>
        <div class="col">
          <input id="register_date" class="form-control " type="datetime-local" name="register_date">
          <spam id = "registerError" class = "registerError"></spam>
        </div>
      </div>

      <!-- 出来事 -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="event">出来事</label>
        <div class="col">
          <input id="event" class="form-control " type="text" name="event">
          <spam id = "eventError" class ="eventError"></spam>
        </div>
      </div>

      <!-- 自動思考 -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="automa_thoughts">自動思考</label>
        <div class="col">
          <textarea id="automa_thoughts" class="form-control" name="automa_thoughts"></textarea>
        </div>
      </div>

      <!-- 感情 -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="emotion">感情</label>
        <div class="col">
          <textarea id="emotion" class="form-control" name="emotion"></textarea>
        </div>
      </div>

      <!-- 考えの根拠 -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="thoughts_proof">考えの根拠</label>
        <div class="col">
          <textarea id="thoughts_proof" class="form-control" name="thoughts_proof"></textarea>
        </div>
      </div>

      <!-- 考えの反証 -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="thoughts_disproof">考えの反証</label>
        <div class="col">
          <textarea id="thoughts_disproof" class="form-control" name="thoughts_disproof"></textarea>
        </div>
      </div>

      <!--　適応的思考  -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="adapt_thinks">適応的思考</label>
        <div class="col">
          <textarea id="adapt_thinks" class="form-control" name="adapt_thinks"></textarea>
        </div>
      </div>

      <!--　ネクストアクション  -->
      <div class="form-group row mt-4">
        <label class="col-form-label col" for="next_action">ネクストアクション</label>
        <div class="col">
          <textarea id="next_action" class="form-control" name="next_action"></textarea>
        </div>
      </div>

      <!-- 登録ボタンエリア-->
      <div class="mt-5 d-flex justify-content-between" >
        <input type="submit" class="btn btn-primary" form = "return" value="戻る">
        <input type="submit" class="btn btn-primary" value="登録">
      </div>
    </form>

    <!--　戻るボタンエリア -->
    <form action="/column_list" method="get" id = "return"></form>
  </div>
  <%- include("shareParts/loadScript.ejs") %>
  <script src = "./javascript/checkColumnValidation.js"></script>
  
</body>

</html>