/*
*ヘッダーに適用するCSS
* @author kazuki Enomoto
*/

/**header領域の幅を指定するCSS*/
.header_area{
  /**親要素bodyよりも幅を拡張する*/
  margin: 0 calc(50% - 50vw);
	width: 100vw;
}

/**ヘッダーのタイトルを中央揃えにするCSS*/
.header_title_area{
  margin: 0 auto;
}

/**ヘッダーのタイトルリンクのフォントサイズ、位置指定、余白指定をするCSS*/
.title_link{
  font-size: 25px;
  text-align: center;
  padding: 0 0 0 300px;
}

/**ログインしているユーザーを表示する領域の位置指定、高さ指定をするCSS*/
.login_info_area{
  display: flex;
  height:100px;
  padding-top: 60px;
}

