<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="column_list" class="text-center">認知行動療法ログ登録システム</a>
  <div class="justify-content-end  flex-row">
    <p><%= loginUser %>がログイン中</p>
    <form action="/logout" method="post">
      <p><input type="submit" value="ログアウト" class="btn btn-outline-success"></p>
    </form>
  </div>
  </div>
</nav>