<nav class="navbar navbar-expand-lg navbar-light bg-light header_area ">
  <div class = "header_title_area">
    <a href="/column_list" class = "text-decoration-none link-dark title_link">認知行動療法ログ登録システム</a>
  </div> 
  <div class = "login_info_area">
    <p class = "me-5"><%= userName %>がログイン中</p>
     <form action="/logout" method="post">
       <input type="submit" value="ログアウト" class="btn btn-outline-success">
     </form>
   </div>
</nav>